# Deployment Database Configuration
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

# Security (CORS) Configuration
FRONTEND_URL=https://my-skill-gap-app.vercel.app
