# Database Configuration
# Uncomment the following line for deployed MongoDB Atlas URL
# MONGO_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
# Alternatively, use local MongoDB for local execution! 
MONGO_URL=mongodb://localhost:27017

# Security (CORS) Configuration
# Uncomment the following line for deployed frontend URL
# FRONTEND_URL=https://my-skill-gap-app.vercel.app
# Alternatively, allow frontend for local execution!
FRONTEND_URL=http://localhost:5173
